---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import './additional.scss';
@import './slicenav.scss';
@import './rules.scss';

body {
  background: none !important;
}

.testcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  pre {
    background: #EEE;
    border: solid 1px #ccc;
    padding: 3px;
    flex: 1;
    margin: 8px;
    border-radius: 4px;
  }

  [data-outcome] {
    border: solid 1px #005A9C;
    border-radius: 4px;
    padding: 8px;
    flex: 1;
    margin: 8px;
  }
}

.rules-table {
  border-collapse: collapse;

  td, th {
    padding: .5em .5em;
  }
  ul {
    margin: 0;
    padding-left: .5em;
  }
  tr {
    border-bottom:solid 1px #ccc;
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none;
}

.page-content {
  max-width: 50em;
  margin: 0 auto;
}

header {
  background-color: #003366;
  color: #fff;
  div {
    display: flex;
    max-width: 50em;
    margin: 0 auto;
    nav {
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      align-content: center;
      justify-content: space-around;
    }
    li {
      list-style: none;
    }
    a {
      color: #fff !important;
      padding: 8px 16px !important;
      margin: 0 !important;
      border-bottom: 1px solid #036 !important;
      &:hover, &:focus {
        border-bottom: 1px solid #fff !important;
        margin: 0 !important;
      }
      img {
        display: inline;
      }
    }
  }
}

footer {
  background-color: #003366;
  color: #fff;
  div {
    color: #fff;
    max-width: 50em;
    margin: 0 auto;
    a {
      color: #fff !important;
      margin: 0 !important;
      border-bottom: 1px solid #036 !important;
      &:hover, &:focus {
        border-bottom: 1px solid #fff !important;
        margin: 0 !important;
      }
      img {
        display: inline;
      }
    }
    p {
      color: #fff !important;
    }
  }
}
