# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: "Web Accessibility Initiative (WAI)"
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  The Website of the World Wide Web Consortium’s Web Accessibility Initiative.
baseurl: "/wcag-act-rules" # the subpath of your site, e.g. /blog
url: "https://w3c.github.io" # the base hostname & protocol for your site
twitter:
  username: w3c_wai
author: w3c_wai
exclude:
  - "_external"
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - "w3c.json"

# Build settings
markdown: kramdown
kramwdown:
  toc_levels: 2..3
  input: GFM
  syntax_highlighter: rouge
highlighter: rouge
repository: w3c/wcag-act-rules

ytkey: AIzaSyCiZ9uToWu9jb7BTx47NtzCvmGGXKXp8nI

remote_theme: w3c/wai-website-theme

collections:
  wai-wcag-act-rules-patterns:
    title: Glossary
    permalink: /:collection/:name/
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: rule
      feedbackmail: wai@w3.org  # NEW: delete this line if it’s an EOWG resource (the default is wai-eo-editors@w3.org)
      footer: >   # Translate words below, including "Date:" and "Editor:" Translate the Working Group name. Leave the Working Group acronym in English. Do *not* change the dates in the footer below.
        <p><strong>Date:</strong> Updated @@ Month 2021. First published Month 20@@.</p>
        <p><strong>Editors:</strong> @@name, @@name. <strong>Contributors:</strong> @@name, @@name, and <a href="https://www.w3.org/groups/wg/@@wg/participants">participants of the @@WG</a>. ACKNOWLEDGEMENTS lists contributors and credits.</p>
        <p>Developed by the @@ Working Group (<a href="http://www.w3.org/WAI/@@/">@@WG</a>). Developed as part of the <a href="https://www.w3.org/WAI/@@/">WAI-@@ project</a>, @@co-funded by the European Commission.</p>
      type_of_guidance: "Test Rule"
      rule_meta:
        rule_type: "atomic rule"
      sidebar: true
      standalone_resource_doc_name: "WCAG 2 Test Rules"
      standalone_resource_doc_name_sub: For developers of evaluation tools and test methodologies
      standalone_resource_about_nav:
        - name: WCAG 2
          ref: /standards-guidelines/wcag
          icon: different-view
        - name: The WCAG 2 Documents
          ref: /standards-guidelines/wcag/docs
          icon: different-view
        - name: WCAG 2 Test Rules
          ref: /standards-guidelines/act/rules/about/
      standalone_resource_pager:
        image: brain.svg
        name: All Test Rules
        ref: /standards-guidelines/act/rules/
  
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-remote-theme
  - wai-website-plugin
