---
layout: default
title: ACT Rules Overview (Demo)
---

<nav><ul id="navigation">
  {% if include.navType == "bottom" %}
  <li><strong>
    <a href="#top">Top</a>
  </strong></li>
  {% endif %}
  <li><strong>
    <a href="{{ '/' | prepend: site.baseurl }}" title="Table of Contents">Contents</a>
  </strong></li>
  <!-- <li><strong>
    <a href="/" title="Introduction to Techniques for WCAG 2.0"><abbr title="Introduction">Intro</abbr></a>
  </strong></li> -->
  <li>
    <a href="{{ '/rules/ACT-R1.html' | prepend: site.baseurl }}"><strong>Next: </strong> ACT-R1</a>
  </li>
</ul></nav>

<h1>ACT Rules Overview (Demo)</h1>

{% include review-note.html %}

<h2>ACT Rules</h2>

<table class="rules-table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Rule name</th>
      <th>Test mode</th>
      <th>WCAG criterion</th>
    </tr>
  </thead>
  {% for rule in site.rules %}
  <tr>
    <th><a href="{{ rule.url | prepend: site.baseurl }}">{{
      rule.rule_id 
    }}</a></th>
    <td>{{ rule.name }}</td>
    <td>{{ rule.test_mode }}</td>
    <td><ul>
      {% for critId in rule.success_criterion %}
        <li>
          {% assign criterion = site.data.wcag2[critId] %}
          <a href="{{ criterion.url }}" target="_blank">
          {{ criterion.num }}
          {{ criterion.handle }}
          (Level {{ criterion.level }})
          </a>
        </li>
      {% endfor %}
    </ul></td>
  </tr>
  {% endfor %}
</table>


<hr>