[build]
command = "bundle update wai-website-theme --conservative && bundle update wai-website-plugin --conservative && bundle exec jekyll build --config '_config.yml,_config_staging.yml'"
publish = "_site"

[build.environment]
RUBY_VERSION = "3.4.8"

[[redirects]]
  from = "/"
  to = "/standards-guidelines/act/rules/"

[dev]
# NB on win64 (cmd or bash shells) --live reload is broken - please s/-w --livereload/--no-watch
command = "bundle exec jekyll serve -w --livereload --config _config.yml,_config_staging.yml"