<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="canonical" href="https://www.w3.org/TR/WCAG20-TECHS/G1.html"/>
  
  <link rel="stylesheet" type="text/css" href="https://www.w3.org/StyleSheets/TR/2016/W3C-WG-NOTE.css"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>