<nav id="skipnav">
   <p class="skipnav"><a href="#maincontent">Skip to Content (Press Enter)</a></p>
</nav>
<header>
  <div>
  <a href="http://www.w3.org/"><img width="72" height="48" alt="W3C" src="https://www.w3.org/StyleSheets/TR/2016/logos/W3C"/></a>
  <nav aria-label="Main">
    <ul>
      <li>
        <a href="https://w3c.github.io/wcag-act-rules/">Home</a>
      </li>
      <li>
        <a href="https://w3c.github.io/wcag-act-rules/rules.html">Rules</a>
      </li>
      <li>
        <a href="https://w3c.github.io/wcag-act-rules/review-process.html">Review</a>
      </li>
    </ul>
  </nav>
  </div>
</header>
<a name="top"> </a><!-- TOP NAVIGATION BAR -->
