<div class="note">
  <p><strong>Important: </strong>The ACT Rules on this page are a demonstration of 
    how they might be published by the W3C. The goal of this page is to add concrete examples for the <a href="https://www.w3.org/TR/act-rules-format/">Accessibility Conformance Testing Rules Format (DRAFT)</a>. Neither the ACT Rules, or the way they are presented here has been approved by the Accessibility Guidelines Working Group. If you have feedback, please comment by filing <a href="https://github.com/w3c/wcag-act/issues/">GitHub issues in the WCAG ACT repository</a>, if this is not feasible, by email to  <a href="mailto:public-wcag-act-comments@w3.org">public-wcag-act-comments@w3.org</a>.</p>
</div>
