<nav><ul id="navigation">
  {% if include.navType == "bottom" %}
  <li><strong>
    <a href="#top">Top</a>
  </strong></li>
  {% endif %}
  <li><strong>
    <a href="/" title="Table of Contents">Contents</a>
  </strong></li>
  <!-- <li><strong>
    <a href="/" title="Introduction to Techniques for WCAG 2.0"><abbr title="Introduction">Intro</abbr></a>
  </strong></li> -->
  <li>
    {% if page.previous %}
      <a href="{{ page.previous.url }}"
        title="{{ page.previous.number }} {{ page.previous.name }}">
        <strong>Previous: </strong>{{ page.previous.name }}
      </a>
    {% else %}
      <a href="/"><strong>Previous: </strong> Overview</a>
    {% endif %}
  </li>
  <li>
    {% if page.next %}
      <a href="{{ page.next.url }}"
        title="{{ page.next.number }} {{ page.next.name }}">
        <strong>Next: </strong>{{ page.next.name }}
      </a>
    {% else %}
      <a href="/"><strong>Next: </strong> Overview</a>
    {% endif %}
  </li>
</ul></nav>
