<nav><ul id="navigation">
  {% if include.navType == "bottom" %}
  <li><strong>
    <a href="#top">Top</a>
  </strong></li>
  {% endif %}
  <li><strong>
    <a href="Overview.html#contents" title="Table of Contents">Contents</a>
  </strong></li>
  <li><strong>
    <a href="/" title="Introduction to Techniques for WCAG 2.0"><abbr title="Introduction">Intro</abbr></a>
  </strong></li>
  <li>
    <a title="ACT-R1: Proper use of aria-describedby" href="/rules/ACT-R1.html">
      <strong>Previous: </strong>Rule ACT-R1
    </a>
  </li>
  <li>
    <a title="ACT-R2: Button has name" href="/rules/ACT-R2.html">
      <strong>Next: </strong>Rule ACT-R2
    </a>
  </li>
</ul></nav>
