
<nav class="navtoc">
 <p>On this page:</p>
 <ul id="navbar">
    <li><a href="#disclaimer">Important Information about Techniques</a></li>
    <li><a href="#requirements">Accessibility Requirements</a></li>
    <li><a href="#description">Description</a></li>
    <li><a href="#assumptions">Assumptions</a></li>
    <li><a href="#test-procedure">Test Procedure</a></li>
    <li><a href="#outcomes">Outcomes</a></li>
    <li><a href="#changelog">Changelog</a></li>
    <li><a href="#validation-tests">Validation tests</a></li>
 </ul>
</nav>