{% if include.testname contains "pass" %}
  {% assign result = 'passed' %}
{% elsif include.testname contains "fail" %}
  {% assign result = 'failed' %}
{% else %}
  {% assign result = 'inapplicable' %}
{% endif %}

<h2>{{ include.testname }}</h2>

{% for test in include.tests %}
  {% if test.code != nil %}
    {% assign code = test.code | xml_escape %}
    {% assign html = test.html %}
  {% else %}
    {% assign code = test | xml_escape %}
    {% assign html = test %}
  {% endif %}

  <div class="testcase">
    <pre><code>{{ code }}</code></pre>
    <div data-outcome="{{ result }}" data-outcome-id="{{ testName }}">
      {{ html }}
    </div>
  </div>

{% endfor %}