table.act-implementations {
  width: 100%;
}

table.act-requirements ul,
table.act-implementations ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.act-proposed {
  padding-top: .25em;
  font-size: 80%;
}
.act-bar {
  background: #CCC;
}
.act-bar > :first-child {
  background: var(--wai-green);
  height: 3px;
}
.act-proposed .act-bar > :first-child {
  height: 2px;
}

@media (min-width: 480px) { 
  a.example-link {
    float: right;
    padding: 0;
    margin: -2.5em 0 0;
  }
}

table.act-example-outcomes,
table.act-requirements {
  min-width: 70%;
}
table.act-requirements th {
  width: 50%;
}
table.act-example-outcomes th:first-child {
  max-width: 120px;
}
