---
layout: standalone_resource
---

<aside class="box"> 
  <header class="box-h box-h-icon"> 
    Rule Mapping 
  </header>
  <div class="box-i"> 
   <p>This is {% if page.rule_meta.rule_type == "atomic" %}an {% else %}a {% endif %}
    <strong>{{ page.rule_meta.rule_type | capitalize }} rule</strong> 
    {% if page.rule_meta.scs_tested %}
    to test 
    {% for sc in page.rule_meta.scs_tested %}
    <strong>{{ sc.num }}: {{ sc.handle }} (Level {{ sc.level }})</strong>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endif %}
  </p> 
  </div>
 </aside>

<h2>Description</h2>
{{ page.rule_meta.description | markdownify }}

{{ content }}

{% assign ruleId = page.rule_meta.id -%}
{%- if ruleId %}
<h2>Implementations</h2>
<p>This section is not part of the official rule. It is populated dynamically and 
  not accounted for in the change history or the last modified date.</p>

{%- assign siteData = site.data.wcag-act-rules %}
{%- assign implementations = siteData.act-implementations | sort: "name" %}

{% assign consistent = implementations | map: 1 %}
<h3>{{ consistent | map: 'name' | join: ',' }}</h3>

<table class="act-implementations">
  <thead>
    <tr>
      <th>Implementation</th>
      <th>Type</th>
      <th>Consistency</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    {%- for implementation in implementations %}
      {%- assign report = siteData.implementations[implementation.uniqueKey] %}
      {%- assign ruleMapping = report.actRuleMapping | where: "ruleId", ruleId | first %}
      {% if ruleMapping.consistency %}
        <tr>
          <td>{{ implementation.name }}</td>
          <td>{{ implementation.type }}</td>
          <td>{{ ruleMapping.consistency }}</td>
          <td><a href="{{
            '/standards-guidelines/act/implementations/' 
              | append: implementation.uniqueKey 
              | append: "#breakdown-"
              | append: ruleId
              | relative_url
          }}"><img alt="{{ implementation.name }} Report" src="{{
            '/content-assets/wcag-act-rules/bar-chart-fill.svg' | relative_url
          }}" /></a></td>
        </tr>
      {% endif %}
    {%- endfor %}
  </tbody>
</table>
{% endif %}
