---
layout: standalone_resource
---

<aside class="box"> 
  <header class="box-h box-h-icon"> 
    Rule Mapping 
  </header>
  <div class="box-i"> 
   <p>This is {% if page.rule_meta.rule_type == "atomic" %}an {% else %}a {% endif -%}
    <strong>{{ page.rule_meta.rule_type | capitalize }} rule</strong> 
    {%- if page.rule_meta.scs_tested %}
    to test 
    {%- for sc in page.rule_meta.scs_tested %}
    <strong>{{ sc.num }}: {{ sc.handle }} (Level {{ sc.level }})</strong>{% if forloop.last == false %}, {% endif %}
    {%- endfor %}
    {%- endif %}
    {%- if page.rule_meta.composite_rules.size > 0 -%}
      . Its outcome is used in the following composite rule
      {%- if page.rule_meta.composite_rules.size > 1 -%} s {%- endif %}:
    {%- endif %}
  </p>
  {%- if page.rule_meta.composite_rules and page.rule_meta.composite_rules.size > 0 %}
  <ul>
    {%- for compositeRule in page.rule_meta.composite_rules %}
    <li><a href="{{
      '/standards-guidelines/act/rules/' | append: compositeRule[0] | append: '/proposed' | relative_url 
    }}">{{compositeRule[1] }}</a></li>
    {%- endfor %}
  </ul>
  {%- endif %}
  </div>
 </aside>

{%- if page.deprecated %}
<h2>Deprecated</h2>
{{ page.deprecated | markdownify }}
{%- endif %}

<h2>Description</h2>
{{ page.rule_meta.description | markdownify }}

{{ content }}

{%- assign ruleId = page.rule_meta.id %}
{%- assign siteData = site.data.wcag-act-rules %}

{%- if ruleId %}
<h2>Rule Versions</h2>
{%- assign ruleVersions = siteData.rule-versions[ruleId] %}
{% if ruleVersions %}
<ol>
  {%- for ruleVersion in ruleVersions %}
  {%- if ruleVersion.isoDate < ruleVersions[forloop.index].isoDate %}{% continue %}{% endif %}
  <li>
    {%- capture versionTitle %}
      {%- if ruleVersion.file contains 'proposed' %} 
        Proposed version, {{ ruleVersion.w3cDate }}
      {%- elsif ruleVersion.file contains 'index' %}
        Latest version, {{ ruleVersion.w3cDate }}
      {%- else %}
        Previous version, {{ ruleVersion.w3cDate }}
      {%- endif %}
    {%- endcapture %}
    {%- if page.github.path contains ruleVersion.file %}
      {{ versionTitle }}
    {%- else %}
      <a href="{{
        '/standards-guidelines/act/rules/' | append: ruleVersion.url | relative_url
      }}">{{ versionTitle }}</a>
    {%- endif %}
    {%- unless forloop.last %}
      {%- assign baseUrl = 'https://www.w3.org/WAI/standards-guidelines/act/rules/' %}
      {%- assign doc1 = baseUrl | append: ruleVersions[forloop.index].url | url_encode %}
      {%- assign doc2 = baseUrl | append: ruleVersions[forloop.index0].url | url_encode %}
      (<a target="_blank" href="{{ 'https://services.w3.org/htmldiff?doc1='
        | append: doc1 | append: '&doc2=' | append: doc2
      }}">compare</a>)
    {%- endunless %}
    {%- if ruleVersion.changes %}<ul>
      {%- for change in ruleVersion.changes %}
        <li>{{ change }}</li>
      {%- endfor %}
    </ul>{% endif %}
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p>This is the first version of this ACT rule.</p>
{%- endif %}
{%- endif %}


{%- if ruleId and page.github.path contains "/index.md" or page.github.path contains "/proposed.md" %}
{%- assign implementations = siteData.act-implementations | sort: "name" %}
{%- comment %}<!--
  The following capture group is used to create a list of implementations
  that are consistent or partially consistent. This is needed for the
  "implementationKeys.size == 0" statement. Liquid has no other way to do this.
-->{% endcomment %}
{%- capture implementationString %}
  {%- for implementation in implementations %}
    {%- assign report = siteData.implementations[implementation.uniqueKey] %}
    {%- assign ruleMapping = report.actRuleMapping | where: "ruleId", ruleId | first %}
    {%- if ruleMapping.consistency %}
      {{- implementation.uniqueKey }},
    {%- endif %}
  {%- endfor %}
{%- endcapture %}
{%- assign implementationKeys = implementationString | split: "," | compact %}

{%- unless page.deprecated %}
<h2>Implementations</h2>
{%- if implementationKeys.size == 0 %}
  <p>There are currently no known implementations for this rule.
    If you would like to contribute an implementation, please read the 
    <a href="{{ '/standards-guidelines/act/implementations/' | relative_url }}">
      ACT Implementations page
    </a> for details.
  </p>

{%- else %}
  <p>This section is not part of the official rule. It is populated dynamically and 
    not accounted for in the change history or the last modified date.</p>
  <div class="scroll-wrap">
    <table class="act-implementations">
      <thead>
        <tr>
          <th>Implementation</th>
          <th>Type</th>
          <th>Consistency</th>
          <th>Report</th>
        </tr>
      </thead>
      <tbody>
        {%- for implementationKey in implementationKeys %}
          {%- assign report = siteData.implementations[implementationKey] %}
          {%- assign ruleMapping = report.actRuleMapping | where: "ruleId", ruleId | first %}
          {%- assign implementation = implementations | where: "uniqueKey", implementationKey | first %}
          <tr>
            <td>{{ implementation.name }}
              {%- if report.version %} {{ report.version }}{% else %} {{ implementation.version }}{% endif -%}
            </td>
            <td>{{ implementation.type }}</td>
            <td>{% if ruleMapping.consistency == 'complete' %}
              Consistent {% else %} Partial
            {% endif %}</td>
            <td><a href="{{
              '/standards-guidelines/act/implementations/'
                | append: implementation.uniqueKey
                | append: "#breakdown-"
                | append: ruleId
                | relative_url
            }}"><img alt="{{ implementation.name }} Report" src="{{
              '/content-assets/wcag-act-rules/bar-chart-fill.svg' | relative_url
            }}" /></a></td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
{%- endif %}
{%- endunless %}
{%- endif %}

<h2>Useful Links</h2>
<ul>
  <li><a href="https://github.com/act-rules/act-rules.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+{{ ruleId }}+">
    Github issues related to this rule
  </a></li>
  <li><a href="https://github.com/act-rules/act-rules.github.io/issues/new?title=%20[{{ ruleId }}]">
    Open a new issue
  </a></li>
  {%- if page.rule_meta.original_file %}
  <li><a href="https://github.com/act-rules/act-rules.github.io/edit/develop/_rules/{{ page.rule_meta.original_file }}">
    Propose a change to the rule
  </a></li>
  {%- endif %}
</ul>
