---
layout: standalone_resource
type_of_guidance: false
---

{% assign implementations = site.data.wcag-act-rules.implementations %}
{% assign implementation = implementations[page.implementation_key] %}

<p>
  {{ implementation.name }} by {{ implementation.vendor}} has 
  {{ implementation.consistency.complete }} completely consistent ACT rules.
</p>

<h2>Implemented Rules</h2>

{% for ruleMapping in implementation.actRuleMapping %}
{% if ruleMapping.consistency != null %}
<table>
  <caption>{{ ruleMapping.ruleName }}</caption>
  <thead>
    <tr>
      <th>Test Case</th>
      {% for procedure in ruleMapping.procedures %}
        <th>{{ procedure.procedureName }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for result in ruleMapping.procedures[0].testResults %}
    {% assign index = forloop.index %}
    <tr>
      <th>{{ result.expected }}</th>
      {% for procedure in ruleMapping.procedures %}
        {% assign testResult = procedure.testResults[index] %}
        <td>{{ testResult.outcomes }} ({{ index }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}