---
layout: standalone_resource
---

<aside class="box"> 
  <header class="box-h box-h-icon"> 
    Rule Mapping 
  </header>
  <div class="box-i"> 
   <p>This is {% if page.rule_meta.rule_type == "atomic" %}an {% else %}a {% endif %}
    <strong>{{ page.rule_meta.rule_type | capitalize }} rule</strong> 
    {% if page.rule_meta.scs_tested %}
    to test 
    {% for sc in page.rule_meta.scs_tested %}
    <strong>{{ sc.num }}: {{ sc.handle }} (Level {{ sc.level }})</strong>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endif %}
  </p> 
  </div>
 </aside>

<h2>Description</h2>
{{ page.rule_meta.description | markdownify }}

{{ content }}