---
layout: standalone_resource
type_of_guidance: false
---

{% assign implementations = site.data.wcag-act-rules.implementations %}
{% assign requirements = site.data.wcag-act-rules.requirements %}
{% assign implementation = implementations[page.implementation_key] %}

<aside class="box"> 
  <header class="box-h box-h-icon"> 
    Implementation Summary 
  </header>
  <div class="box-i"><p>
    {{ implementation.name }} 
    {{ implementation.version }} 
    was published
    on {{ implementation.version_date }}
    by <a href="{{ implementation.homepage }}">{{ implementation.vendor }}</a>.
    This implementation tests for {{ implementations.standards[0] }}.
    <!-- Unless otherwise indicated, results are <strong>fully automatic</strong>. -->
    <!-- Test data was last updated 24 January 2022. -->
  </p></div>
</aside>

<h2>Summary</h2>
<table>
  <tr>
    <th></th>
    <th>Consistent</th>
    <th>Partially-consistent</th>
  </tr>
  <tr>
    <th>WCAG 2 rules</th>
    <td>{{ implementation.approvedRules.complete }}</td>
    <td>{{ implementation.approvedRules.partial + implementation.approvedRules.minimal }}</td>
  </tr>
  <tr>
    <th>Proposed rules</th>
    <td>{{ implementation.proposedRules.complete }}</td>
    <td>{{ implementation.proposedRules.partial + implementation.proposedRules.minimal }}</td>
  </tr>
</table>

<h2>Implemented Rules</h2>
<table>
  <thead>
    <tr>
      <th>Rule Name</th>
      <th>Type</th>
      <th>Consistency</th>
    </tr>
  </thead>
  <tbody>
    {% for ruleMapping in implementation.actRuleMapping  %}
    {% if ruleMapping.consistency != null %}
      <tr>
        <td><a href="#breakdown-{{ ruleMapping.ruleId }}">
          {{ ruleMapping.ruleName }}
        </a></td>
        <td>{% if ruleMapping.ruleApproved %}
          WCAG 2 Rule {% else %} Proposed Rule
        {% endif %}</td>
        <td>{% if ruleMapping.consistency == 'complete' %}
          Complete {% else %} Partial
        {% endif %}</td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>Implementation Breakdown</h2>

{% for ruleMapping in implementation.actRuleMapping %}
{% if ruleMapping.consistency != null %}
{% assign coverage = ruleMapping.coverage %}
<h3 id="breakdown-{{ ruleMapping.ruleId }}">{{ ruleMapping.ruleName }}</h3>
<p>
  This rule is implemented by {{ implementation.name }} using the
  {% for procedure in ruleMapping.procedureNames %}
    {%- if forloop.first == true -%}
      <code>{{ procedure }}</code>
    {%- elsif forloop.last == false -%}
      , <code>{{ procedure }}</code>
    {%- else -%}
      , and <code>{{ procedure }}</code>
    {%- endif -%}
  {% endfor %} procedure{% if ruleMapping.procedureNames.size > 1 %}s{% endif %}.
  The implementation is {% if ruleMapping.consistency != 'complete' %}
    completely {% else %} partially 
  {% endif %} consistent with 
  <a href="{{ '/standards-guidelines/act/rules/' + ruleMapping.ruleId | relative_url }}">
    {{ ruleMapping.ruleName }}
  </a>.
  It covers {{ coverage.covered }} of the {{ coverage.testCaseTotal }} test cases. 
  {% if coverage.cantTell > 0 %}
    On {{ coverage.cantTell }} test case{% if coverage.cantTell > 1 %}s{%endif%}
    the implementation cannot tell the outcome. This is often because to technical 
    limitations in tools.
  {% endif %}
  {% if coverage.untested > 0 %}
    For {{ coverage.untested }} test case{% if coverage.cantTell > 1 %}s{%endif%}
    no results were reported. This can happen when test cases are newer then the
    test results.
  {% endif %}
  {% if ruleMapping.accessibilityRequirements.correct == true %}
    The implementation correctly reports which success criteria are failed by this rule.
  {% elsif ruleMapping.accessibilityRequirements.correct == false %}
    The implementation reports different success criteria as failed from what is expected by this rule.
  {% else %}
    The implementation correctly reports no success criteria are failed by this rule.
  {% endif %}
</p>

{% if ruleMapping.accessibilityRequirements %}
<table>
  <caption>Success Criteria</caption>
  <tr> <th>Expected</th> <th>Reported</th></tr>
  <tr>
    <td>
      {% if ruleMapping.accessibilityRequirements.expected.size > 0 %}
        <ul>{% for requirementKey in ruleMapping.accessibilityRequirements.expected %}
          <li>
            {{ requirements[requirementKey].num }}
            {{ requirements[requirementKey].handle }}
          </li>
        {% endfor %}</ul>
      {% else %} None {% endif %}
    </td>

    <td>
      {% if ruleMapping.accessibilityRequirements.reported.size > 0 %}
        <ul>{% for requirementKey in ruleMapping.accessibilityRequirements.reported %}
          <li>
            {{ requirements[requirementKey].num }}
            {{ requirements[requirementKey].handle }}
          </li>
        {% endfor %}</ul>
      {% else %} None {% endif %}
    </td>
  </tr>
</table>
{% endif %}

<table>
  <caption>Test Results</caption>
  <thead>
    <tr>
      <th>Example</th>
      {% for procedureName in ruleMapping.procedureNames %}
        <th>{{ procedureName }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for result in ruleMapping.testCaseResults %}
    <tr>
      <th><a href="{{ result.testCaseUrl }}">{{ result.testCaseName }}</a></th>
      {% for procedureResult in result.procedureResults %}
        <td>{{ procedureResult.outcomes | uniq | join: ", " }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}
