---
layout: default
---

{% include rule-navigation.html %}

{% include rule-toc.html navType="top" %}

<div class="skiptarget"><a id="maincontent">-</a></div>

<h1>{{ page.rule_id }}: {{ page.name }}</h1>

<h2 id="disclaimer">
  Important Information for reviewing
  <abbr title="Accessibility Conforance Test">ACT</abbr>
  Rules
</h2>

{% include review-note.html %}

{% include rule-applicability.html %}

{{ content }}

<h2 id="validation-tests">Validation Tests</h2>

<p>To validate the implementation of this rule, all 
  <a href="{% if page.tests != nil %}{{
    page.tests | prepend: site.baseurl
  }}{% else %}{{
    '/rule-tests/' | append: page.rule_id | append: '-tests.html' | prepend: site.baseurl
  }}{% endif %}">test cases for {{ page.rule_id }}</a>
  must be passed.</p> 

{% include rule-navigation.html navType="bottom" %}
