name: Implementation update
on:
  workflow_dispatch:
  schedule:
    # Run every 6 hours, starting UTC midnight
    - cron:  '0 0,6,12,18 * * *'

jobs:
  implementation-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: '${{ secrets.W3CGRUNTBOT_TOKEN }}'
      - uses: actions/setup-node@v2
      - uses: actions/cache@v3
        with:
          path: "node_modules"
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      ## Make sure we have the latest act-tools
      - run: npm install act-tools
      - run: node ./.github/scripts/implementation-update.mjs
      - name: Commit and push
        run: |
          git config user.name w3c-grunt-bot
          git config user.email w3c-grunt-bot@users.noreply.github.com
          npx zx ./.github/scripts/commit-and-push.mjs

