name: Pull request to Publish
on:
  workflow_dispatch:
  schedule:
    # Run every Monday at UTC midnight
    - cron: '0 0 * * Mon'

jobs:
  pr-to-publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create pull request
        run: |
          gh pr create --base publish --head main \
            --assignee shawna-slh \
            --title "WAI website update ${{ steps.date.outputs.date }}" \
            --body "This is an automated pull request to publish ACT content to WAI website."
